<h2>
Applied Data Science Capstone - Week 3, Question 1

<h4>
Importing all the required libraries:

In [223]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup
import re
print("Libraries Imported")

Libraries Imported

<h4>
Importing the text from the website and putting it in a dataframe:

In [224]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
rows = soup.find_all('tr')
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
df = pd.DataFrame(list_rows)
df.head()

                                           0
0                                         []
1                [M1A\n, Not assigned\n, \n]
2                [M2A\n, Not assigned\n, \n]
3         [M3A\n, North York\n, Parkwoods\n]
4  [M4A\n, North York\n, Victoria Village\n]

<h4>
Splitting up the information and cleaning it up:

In [225]:
df1 = df[0].str.split(',', expand=True)
df1[0] = df1[0].str.strip('[')
for i in range (30):
    df1[i] = df1[i].str.strip('\n')
    df1[i] = df1[i].str.strip('\n]')
df2 = df1[df1[1] != " Not assigned"]
df2 = df2.drop([0],axis=0)
df2 = df2[:-4]
df2 = df2.reset_index(drop=True)
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M5A,Downtown Toronto,Regent Park,Harbourfront,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M6A,North York,Lawrence Manor,Lawrence Heights,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

<h4>
Getting the dataframe in the required format:

In [226]:
df2['Neighborhood'] = ""
for i in range (31):
    for j in range (103):
        if i > 1 and df2[i][j] != None:
            if df2['Neighborhood'][j]=="":
                df2['Neighborhood'][j]= df2[i][j]
            else:
                df2['Neighborhood'][j]=df2['Neighborhood'][j]+ ', ' + df2[i][j]
df2.drop(df2.iloc[:, 2:31], inplace = True, axis = 1)
df2.columns = ['PostalCode','Borough','Neighborhood']
df2.head()

  PostalCode            Borough                                   Neighborhood
0        M3A         North York                                      Parkwoods
1        M4A         North York                               Victoria Village
2        M5A   Downtown Toronto                     Regent Park,  Harbourfront
3        M6A         North York              Lawrence Manor,  Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park,  Ontario Provincial Government

<h4>
Displaying the shape, as requested:

In [227]:
df2.shape

(103, 3)